Hello dear annotator! I will give you a timetable and a schema your answer should follow. Consider that schema as a form that needs to be filled out using the information in the timetable.

Schema for the final answer, written as TypeScript code. The answer should be a JSON object that follows the shape of the Response interface:

<Schema>
interface Response {
	activities: Activity[];
}

// An entry in the timetable representing a course, lab etc
interface Activity {
	start: Time;
	end: Time;
	name: string;
	type?: "Curs" | "Lab" | "Seminar" | "Conferinta";
	authors: string[];
	location?: Location;
	periodicity?: "even" | "odd";
	subgroup?: number;
	observations?: string;
}

interface Time {
	weekday: "Luni" | "Marti" | "Miercuri" | "Joi" | "Vineri";
	hour: number;
	minute: number;
}

type Location = "ONLINE" | Room;

interface Room {
	id: number;
	type: "Amf" | "Lab" | "Sala";
}
</Schema>

The timetable represents a list of varios didactic activities. Each didactic activity has a visual representation: a colored block with some text on it (please be aware as some visual representations are WHITE). I want you to fill the form for each and every activity you see in the image provided.

Your answers should include snippets from the provided timetable. Do not ever add / remove diacritics.

Please follow the guidelines below. They contain notes on how to properly fill out each field for each activity of the final answer. Thank you very much for your work!!


START & END FIELDS
---

	NOTE 1: Most activities start at the 0 minute mark and end at the 50 minute mark. This may not be true for all, but it is true for the majority.



NAME FIELD
---

	NOTE 2: The name of a specific activity usually appears in the center of a colored block (though this is not guaranteed as the visual representation of other activities might be different).
 
	NOTE 3: The name could contain additional text serving various purposes (like specifying the type of the activity). Please do not include such additional info in the `name` field.
	For example: 
		"MachineTranslation (curs)" -> the `name` should only be "MachineTranslation"
		"SS - Algebra comutativa" -> the `name` should only be "Algebra comutativa"



(ACTIVITY) TYPES FIELD
---
 
	NOTE 4: Each activity has an OPTIONAL type. The types are defined as follows:
	- `Conferinta`: SEMIFORMAL didactic activity, where at least one professor teaches students about a specific subject. It is semiformal because participation didn't require a registration at the university's office. Furthermore, these are usually open to the public and participation doesn't provide any credits. All activities in "Conferinte si Seminarii" are Conferinte by this definition (even though they might have "Seminar" in name)
	- `Curs`, `Lab`, `Seminar`: a formal didactic activity for which the student solicited the right of participation from the university. Most of the activities are of this type.

	NOTE 5: Usually the type can be deduced from the name. For example, an activity like "ReteleNeuronale1 (curs)" will be of type `Curs`.
	In other cases, the type cannot be deduced from the name and you will have to look for contextual clues. For example, the type of an activity named "SS - IA neurosimbolica" is not obvious, however, if that activity appears in a timetable named "Conferinte si Seminarii", it is obvious that it is a `Conferinta`.
	Another example is an activity named "Seminar .hidden" in the "Conferinte si Seminarii" timetable. Based on the definition of a Conferinta, this activity will be of type `Conferinta` since it is in that particular timetable, even though it contains "Seminar" in the name.
 
	NOTE 6: If the type of an activity is not obvious or cannot be determined with high confidence, set it to undefined / do not specify it. NEVER specify it if you are unsure. DO NOT SET THE TYPE IF UNSURE!



AUTHORS FIELD
---

	NOTE 7: ALL activities are taught by at least one teacher. If an activity is taught by multiple teachers, the visual representation for that activity WILL have multiple colors.
 
	NOTE 8: Usually, the name of the teacher is in the upper left corner of the visual representation. However please note that this is not a guarantee.
 
	NOTE 9: Author names follow this convention "<last name> <first letter (or, rarely, the first few letters) of the first name>". For example: "Nisioi S". 
	If the activity is taught by multiple teachers, the names are separated by a forward slash. For example: "Leustean L / Irofti P / Patrascu A", "Marin Li / Tigoiu V"



LOCATION FIELD
--- 

	NOTE 10: The location is usually found in the bottom right corner of the visual representation of the activity. However, this is not guaranteed.
 
	NOTE 11: The location is, most of the time, written in a format like this: "S-415", "Amf.503", "L-202", "S.109", "L.218". As you can see, each of them has a room id, that uniquely identifies the room (the "415" in "S-415") and a small text providing info on the type of room (for example, the "L" in "L.218" suggests this room is of type "Lab"). The most common such snippets are:
	"S" -> "Sala",
	"L" -> "Lab",
	"Amf" -> "Amfiteatru"
	If you find a new location type that doesn't appear in the answer's schema, set it to undefined and note your discovery in the `observations` field.



PERIODICITY FIELD
---

	Some context on FMI: some activities run on a biweekly schedule. In this case, the activity will happen either on an even or an odd week (which week is even or odd is decided by the university and later communicated to the students).
 
	NOTE 12: If the visual representation of the activity has a specifier like "SP" (Saptamana Para -> `even`) or "SI" (Saptamana Impara -> `odd`) the work is done. Other times, the visual representation is even more explicit and contains stuff like "impar" or "saptamana para". Whatever the case, if the periodicity is specified via text, you can move on to filling other fields.
 
	NOTE 13: If the visual representation doesn't offer any specifiers for the periodicity, it may be possible that the periodicity is specified in a VISUAL way. Look at the cell containing the activity. The cell is the rectangle / square sitting at the intersection between the weekday row and the time column. We have the following 2 cases:
	If the cell is divided in halves {
		If the activity is in the upper-half, periodicity is `odd`.
		Otherwise, periodicity is `even`.
	}
	If the cell is divided in quarters {
		If the activity is in the first or second quarter from the top, periodicity is `odd`.
		Otherwise, periodicity is `even`.
	}
	If none of these happen, it means the activity doesn't have a periodicity.
  
	NOTE 14: If the activity specifies a range of weeks (like "[sapt 9-15]"), then the activity IS NOT PERIODIC and DOES NOT run on a biweekly schedule, EVEN IF it is in a specific half / quarter.



SUBGROUP FIELD
---

	Some context on FMI before going into the notes. Students are divided in groups and groups are identified via a 3-digit number (for example: "Grupa 461", "Grupa 152" etc). Because a group has a lot of students, these groups are divided in subgroups (usually 2 subgroups for Bachelor groups and 4 subgroups for the Master - though this is not guaranteed and can change). Most of the activities are for the entire group, however, a large portion of activities are for a specific subgroup only. If that's the case, populate the `subgroup` field with the number of that specific subgroup (which is always strictly greater than 0).
 
	NOTE 15: Whenever you see "SG", know it means "subgroup". Similarly, "Gr_3" means "subgroup no. 3" (don't be fooled by that "Gr" - it is not a group, it is a subgroup; a group has a 3 digit identifier).
 
	NOTE 16: Sometimes, the subgroup is not specified via text. Sometimes, the subgroup is specified in a visual manner. Focus on the intersection between the weekday row and the time column. That cell may be horizontally divided in 4 quarters (a cell ALWAYS finds itself in one of 3 states: not divided, divided in halves or divided in quarters). If the activity finds itself in the first or third quarter of the cell (reading from highest quarter of the cell to the lowest one), the subgroup number is 1. Otherwise, the subgroup number is 2. This is applicable only if the subgroup is not specified explicitly via text.



OBSERVATIONS FIELD
---

	We are still developing the rules for how to properly parse the timetable. 
  If you encounter any inconsistencies between the rules specified here (or the response specs) and the actual data (for example, if you find an activity that is not taught by a professor, even though we specified that every activity should be taught by at least one professor OR you encounter a new type of location that wasn't specified in the schema), record them in the optional `observations` field.
	Moreover, in order to optimize the rules, if you were ever faced with a hard decision (like choosing between the `Conferinta` type and the `Seminar` type) that required you to think more than usual, complain about it in the `observations` field.
	If neither of these happened, leave the `observations` field blank.



FINAL NOTE
---

I would like to thank you for the work you do! This helps us tremendously!
Thank you very VERY much!!